# Node modules
client/node_modules/
server/node_modules/
node_modules/

# Build folders
client/dist/
server/dist/

# Environment files
client/.env
server/.env

# Logs
client/logs/
server/logs/
server/.env

node_modules/
 
yolo_service/myenv/
